@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
/* Importing font 'Raleway', sans-serif */

:root {
    --blue: #0065FC;
    --lighter-blue: #DEEBFF;
    --grey: #F2F2F2;
}

* {
    box-sizing: border-box;
}

body {
    font-family: 'Raleway', sans-serif;
}

header {
    margin: 0 40px 0 40px;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    display: flex;
    height: 75px;
}

main {
    height: fit-content;
    width: fit-content;
    display: flex;
    flex-direction: column;
}

header .main-logo {
    height: 100%;
}

header .main-logo img {
    margin-top: 40%;
    height: 50%;
}

header .main-nav {
    padding: 0 20px 0 0;
    display: flex;
    height: 100%;
}

header .main-nav a {
    transition: color 200ms, border 200ms;
    border-top: 2px solid transparent;
    color: rgb(124, 124, 124);
    padding: 12% 42px 0 42px;
    text-decoration: none;
    margin: 0 3px 0 3px;
    font-weight: 500;
    display: flex;
}

header .main-nav a:hover {
    border-top: 2px solid var(--blue);
    color: var(--blue);
}

main .top-container {
    margin: 0 40px 0 40px;
}

main .top-container h2 {
    margin-bottom: 0px;
    font-size: 20px;
}

main .top-container p {
    margin-top: 10px;
    color: rgb(124, 124, 124);
}

main .top-container .search-bar {
    width: fit-content;
    border-radius: 10px;
    display: flex;
    height: 40px;
    background-color: var(--grey);
}

main .top-container .search-bar .icon {
    width: 40px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

main .top-container .search-bar input {
    border: none;
    outline: none;
    height: 100%;
}

main .top-container .search-bar input[type=text] {
    border-bottom: 2px solid var(--grey);
    border-top: 2px solid var(--grey);
    padding-left: 10px;
    font-weight: 600;
}

main .top-container .search-bar input[type=submit] {
    transition: background-color 200ms, color 200ms;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    background-color: var(--blue);
    padding: 0 15px 0 15px;
    font-weight: 600;
    cursor: pointer;
    color: white;
}

main .top-container .filters {
    margin: 25px 0 0 0;
    font-family: 'Raleway', sans-serif;
    width: fit-content;
    display: flex;
    height: 40px;
}


main .top-container .filters .display {
    height: 40px;
    line-height: 40px;
    font-weight: 600;
}

main .top-container .filters .filter {
    transition: background-color 200ms, border 200ms, color 200ms;
    border: 2px solid rgb(184, 184, 184);
    text-decoration: none;
    border-radius: 20px;
    padding: 0 15px 0 0;
    margin: 0 0 0 20px;
    line-height: 36px;
    font-weight: 600;
    display: flex;
    color: unset;
}

main .top-container .filters .filter:hover {
    background-color: var(--lighter-blue);
    border: 2px solid var(--blue);
}

main .top-container .filters .filter .icon {
    transition: background-color 200ms, border 200ms, color 200ms;
    background-color: var(--lighter-blue);
    justify-content: center;
    margin: -2px 7px 0 -2px;
    align-items: center;
    border-radius: 50%;
    display: flex;
    height: 40px;
    width: 40px;
}

main .top-container .filters .filter:hover .icon {
    background-color: var(--blue);
}

main .top-container .filters .filter .icon i {
    transition: background-color 200ms, border 200ms, color 200ms;
    color: var(--blue);
}

main .top-container .filters .filter:hover .icon i {
    color: white;
}

main .top-container .info {
    align-items: center;
    line-height: 25px;
    margin-top: 40px;
    display: flex;
}

main .top-container .info .icon {
    width: 25px;
    height: 25px;
    display: flex;
    color: var(--blue);
    margin-right: 10px;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    border: 1px solid rgb(184, 184, 184);
}

main .container {
    justify-content: space-around;
    margin: 40px 25px -15px 25px;
    flex-wrap: wrap;
    display: flex;
}

main .container .content {
    background-color: var(--grey);
    flex-direction: column;
    margin: 15px 15px 15px 15px;
    border-radius: 20px;
    padding: 40px;
    display: flex;
    flex: 2 0 60%;
}

main .container .content .top {
    justify-content: space-between;
    align-items: center;
    display: flex;
    width: 100%;
}

main .container .content .top .title {
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    font-size: 19px;
    margin-left: 10px;
}

main .container .content .list {
    justify-content: space-between;
    margin: 20px 0 0 0;
    flex-wrap: wrap;
    display: flex;
    width: 100%;
}

main .container .content .list .card {
    box-shadow: rgba(0, 0, 0, 0.20) 0px 5px 15px;
    background-color: white;
    padding: 5px 5px 10px 5px;
    flex-direction: column;
    border-radius: 20px;
    height: fit-content;
    min-width: 215px;
    flex: 1 0 30%;
    display: flex;
    margin: 10px;
    width: 60%;
}

main .container .content .list .card picture {
    height: 125px;
    width: 100%;
}

main .container .content .list .card picture img {
    border-radius: 15px 15px 0 0;
    object-fit: cover;
    height: 100%;
    width: 100%;
}

main .container .content .list .card .infos {
    flex-direction: column;
    margin: 10px 0 0 15px;
    display: flex;
}

main .container .content .list .card .infos .name {
    font-weight: bold;
}

main .container .content .list .card .infos .starts-from {
    margin: 5px 0 0 0;
}

main .container .content .list .card .infos .starts-from .price {
    font-weight: bolder;
}

main .container .content .list .card .infos .rating {
    color: var(--grey);
    margin: 5px 0 0 0;
}

main .container .content .list .card .infos .rating .filled {
    color: var(--blue);
}

main .container .content .more {
    margin: 30px 0 30px 0;
    cursor: pointer;
    font-size: 20px;
    font-weight: 600;
}

main .container #trendings {
    flex: 1 0 30%;
}

main .container #trendings .list {
    height: 100%;
    align-items: center;
}

main .container #trendings .list .card {
    padding: 5px 5px 5px 5px;
    flex-direction: row;
    flex: 1 0 100%;
    margin: 0;
}

main .container #trendings .list .card picture {
    flex: 1 0 40%;
}

main .container #trendings .list .card picture img {
    border-radius: 15px 0 0 15px;
}

main .container #trendings .list .card .infos .name {
    font-size: 18px;
}

main .container #trendings .list .card .infos .rating {
    margin: auto 0 5px 0;
}

main .container #activities {
    background-color: transparent;
    padding: 0;
}

main .container #activities .list {
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    height: 500px;
}

main .container #activities .list .card {
    flex-direction: column;
    max-height: 46%;
    max-width: 21%;
    display: flex;
    flex: 1 0 60%;
    padding: 0;
    margin: 0;
}

main .container #activities .list .card picture {
    flex: 1 0 10%;
}

main .container #activities .list .card picture img {
    object-fit: cover;
}

main .container #activities .list .card.higher {
    max-height: 100%;
    flex: 1 0 100%;
}

main .container #activities .list .card .infos {
    margin: 20px 0 20px 20px;
}

footer {
    background-color: var(--grey);
    padding: 20px 0 10px 0;
    height: fit-content;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 40px;
    display: flex;
    width: 100%;
}

footer div {
    flex-direction: column;
    display: flex;
}

footer div .title {
    padding-bottom: 10px;
    font-weight: 600;
}

footer div .option {
    padding-bottom: 5px;
    font-size: 14px;
}