@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
/* Importing font 'Raleway', sans-serif */

:root {
    --blue: #0065FC;
    --lighter-blue: #DEEBFF;
    --grey: #F2F2F2;
}

* {
    box-sizing: border-box;
}

body {
    padding: 0 40px 0 40px;
    font-family: 'Raleway', sans-serif;
}

header {
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    display: flex;
    height: 75px;
}

main {
    height: fit-content;
    width: fit-content;
    display: flex;
    flex-direction: column;
}

.main-logo {
    height: 100%;
}

.main-logo img {
    margin-top: 40%;
    height: 50%;
}

.main-nav {
    padding: 0 20px 0 0;
    display: flex;
    height: 100%;
}

.main-nav a {
    transition: color 200ms, border 200ms;
    border-top: 2px solid transparent;
    color: rgb(124, 124, 124);
    padding: 12% 42px 0 42px;
    text-decoration: none;
    margin: 0 3px 0 3px;
    font-weight: 500;
    display: flex;
}

.main-nav a:hover {
    border-top: 2px solid var(--blue);
    color: var(--blue);
}

.top h2 {
    margin-bottom: 0px;
    font-size: 20px;
}

.top p {
    margin-top: 10px;
    color: rgb(124, 124, 124);
}

.top .search-bar {
    width: fit-content;
    border-radius: 10px;
    display: flex;
    height: 40px;
    background-color: var(--grey);
}

.top .search-bar .icon {
    width: 40px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.top .search-bar input {
    border: none;
    outline: none;
    height: 100%;
}

.top .search-bar input[type=text] {
    border-bottom: 2px solid var(--grey);
    border-top: 2px solid var(--grey);
    padding-left: 10px;
    font-weight: 600;
}

.top .search-bar input[type=submit] {
    transition: background-color 200ms, color 200ms;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    background-color: var(--blue);
    padding: 0 15px 0 15px;
    font-weight: 600;
    cursor: pointer;
    color: white;
}

.top .filters {
    margin: 25px 0 0 0;
    font-family: 'Raleway', sans-serif;
    width: fit-content;
    display: flex;
    height: 40px;
}


.top .filters .display {
    height: 40px;
    line-height: 40px;
    font-weight: 600;
}

.top .filters .filter {
    transition: background-color 200ms, border 200ms, color 200ms;
    border: 2px solid rgb(184, 184, 184);
    text-decoration: none;
    border-radius: 20px;
    padding: 0 15px 0 0;
    margin: 0 0 0 20px;
    line-height: 36px;
    font-weight: 600;
    display: flex;
    color: unset;
}

.top .filters .filter:hover {
    background-color: var(--lighter-blue);
    border: 2px solid var(--blue);
}

.top .filters .filter .icon {
    transition: background-color 200ms, border 200ms, color 200ms;
    background-color: var(--lighter-blue);
    justify-content: center;
    margin: -2px 7px 0 -2px;
    align-items: center;
    border-radius: 50%;
    display: flex;
    height: 40px;
    width: 40px;
}

.top .filters .filter:hover .icon {
    background-color: var(--blue);
}

.top .filters .filter .icon i {
    transition: background-color 200ms, border 200ms, color 200ms;
    color: var(--blue);
}

.top .filters .filter:hover .icon i {
    color: white;
}

.top .info {
    align-items: center;
    line-height: 25px;
    margin-top: 40px;
    display: flex;
}

.top .info .icon {
    width: 25px;
    height: 25px;
    display: flex;
    color: var(--blue);
    margin-right: 10px;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    border: 1px solid rgb(184, 184, 184);
}

.hebergements {
    justify-content: space-around;
    margin-top: 40px;
    display: flex;
    flex-grow: 1;
}

.hebergements .container {
    background-color: var(--grey);
    flex-direction: column;
    border-radius: 20px;
    min-width: 30%;
    padding: 40px;
    display: flex;
}

.hebergements #hebergements {
    flex-grow: 3;
    margin-right: 40px;
}

.hebergements .container .top {
    justify-content: space-between;
    align-items: center;
    display: flex;
    width: 100%;
}

.hebergements .container .top .title {
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    font-size: 20px;
}

.hebergements .container .list {
    justify-content: space-between;
    margin-top: 20px;
    flex-wrap: wrap;
    display: flex;
    width: 100%;
}

.hebergements .container .list .card {
    box-shadow: rgba(0, 0, 0, 0.20) 0px 5px 15px;
    background-color: white;
    padding: 5px 5px 10px 5px;
    flex-direction: column;
    border-radius: 20px;
    margin-bottom: 30px;
    height: fit-content;
    display: flex;
    width: 30%;
}

.hebergements .container .list .card picture {
    height: 125px;
    width: 100%;
}

.hebergements .container .list .card picture img {
    border-radius: 15px 15px 0 0;
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.hebergements .container .list .card .infos {
    flex-direction: column;
    margin: 10px 0 0 15px;
    display: flex;
}

.hebergements .container .list .card .infos .name {
    font-weight: bold;
}

.hebergements .container .list .card .infos .starts-from {
    margin: 5px 0 0 0;
}

.hebergements .container .list .card .infos .starts-from .price {
    font-weight: bolder;
}

.hebergements .container .list .card .infos .rating {
    color: var(--grey);
    margin: 5px 0 0 0;
}

.hebergements .container .list .card .infos .rating .filled {
    color: var(--blue);
}

.hebergements .container .more {
    margin-top: 15px;
    cursor: pointer;
    font-size: 20px;
    font-weight: 600;
}

.hebergements #trendings .list {
    flex-direction: column;
}

.hebergements #trendings .list .card {
    width: 100%;
    height: 160px;
    flex-direction: row;
    padding: 5px 5px 5px 5px;
}

.hebergements #trendings .list .card picture {
    width: 40%;
    height: 100%;
}

.hebergements #trendings .list .card picture img {
    border-radius: 15px 0 0 15px;
    width: 100%;
    object-fit: cover;
}

.hebergements #trendings .list .card .infos .name {
    font-size: 18px;
}

.hebergements #trendings .list .card .infos .rating {
    margin: auto 0 5px 0;
}